{% extends "base.html" %}

{% block content %}

<div class="content">

		<a name="TemplateInfo"></a>
			
        	<h3>oh, hello</h3>					
			
			<p>
			Welcome to very small ventures.  We are small team of developers creating and iterating on random ideas in our spare time.  We normally start by trying to solve a small problem, then we see where that takes us.  Check out a few of our projects below and let us know what you think. 				
			</p>

			<h3>ventures</h3>					
			<p class="thumbs">
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
                <a href="index.html"><img src="static/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			</p>

</div>

{% endblock %}
		
	
